<style>
    .dummyWidth {
        width: 50%;
    }
</style>
<h1>{{gallery.title}}</h1>
<a href="/cmvg/gallery/edit/{{gallery.id}}">Edit</a>
<a href="/cmvg/gallery/delete/{{gallery.id}}">Delete</a>
<a href="/cmvg/gallery/">Back</a>
<br>
<form method="post" id="gallery_upload" action={% url 'private:cmvg_gallery_edit' post_id=gallery.id %} enctype="multipart/form-data">
    {% csrf_token %}
    <p>
        <input type="text" name="title" value="{{gallery.title}}"/>
    </p>
    <p>
        <input type="file" name="images" multiple/>
    </p>
    <p>
        {{gallery.year}}
        <select name="year" form="gallery_upload">
            {% for year in years %}
                {% if year == gallery.year %}
                    <option value="{{year}}" selected>{{year}}</option>
                {% else %}
                    <option value="{{year}}">{{year}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </p>
    <p>
        <select name="tags" form="gallery_upload" multiple>
            {% for tag in tags %}
            <option value={{tag}}>{{tag}}</option>
            {% endfor %}
        </select>
    </p>
    <p>
        <input type="submit" value="Update">
    </p>
</form>
<hr>
{% for item in gallery.gallery_access.all %}
    <p>{{item.access}} <a href="/cmvg/gallery/delete/access/{{gallery.id}}/{{item.id}}">Remove</a></p>
{% endfor %} 
{%for image in gallery.gallery_images.all %}
    <img class="dummyWidth" src="/media/{{image.image}}" alt="">
    <a href="/cmvg/gallery/delete/image/{{gallery.id}}/{{image.id}}">Delete</a> 
    <br>
{% endfor %}