<style>
    .dummyWidth{
        width: 50%;
    }
</style>

{% for gallery in galleries %}
    <h1>{{gallery}}</h1>
    <a href="/cmvg/gallery/{{gallery.id}}">Open</a>
    <a href="/cmvg/gallery/edit/{{gallery.id}}">Edit</a>
    <a href="/cmvg/gallery/delete/{{gallery.id}}">Delete</a>
    {% for item in gallery.gallery_access.all %}
        <p>{{item.access}}</p>
    {% endfor %}
    {% for item in gallery.gallery_images.all %}
        <br>
        <img class="dummyWidth" src="/media/{{item.image}}" alt="">
    {% endfor %}
    <hr>
{% endfor%}