/*.profile-form{
    .input-group{
        padding: .75em 0;

        .label {
            font-size: 1.25em;
            margin-right: 1em;
        }

        input {
            font-size: 1.25em;
            font-weight: 300;
            padding: .5em 1em;
            border-radius: 5px;
            border-style: solid;
            border-width: 1px;
            border-color: #37474f;
        }
        
        input[type=file]{
            border-color:white;
        }

        input[type=submit]{
            background-color:#00c853;
            // width: 100%;
            padding:.5em 1em;
            border-style: solid;
            border-width: 2px;
            border-color: #00c853;
            border-radius: 5px;
            font-weight: 400;
            width: 10em;
            // color: #424242;
            outline: none;
        }

        input[type=submit]:hover{
            background-color: #00e676;
        }
    }
    
}*/

/*float and clear ignored in flexbox, use flex-end flex-start instead*/
#profile_form {
    display: flex;
    flex-direction: column;
    width: 600px;
    /*select img with class .square*/
    img.square{
        max-width: 80px;
        max-height: 80px;
    }
    label {
        font-size: 1.25em;
        font-weight: 300;
    }

    input[type=text], input[type=submit], input[type=date]{
        padding-left: 0.5em;
        height: 2em;
        border-radius: 2px;
        border-style: solid;
        border-width: 1px;
        border-color: #bdbdbd;
        outline:none;
        width: 400px;
    }
    select {
        padding-left: 0.4em;
        height: 2em;
        border-radius: 2px;
        border-style: solid;
        border-width: 1px;
        border-color: #bdbdbd;
        outline:none;
        width: 410px;
        color: #383838;
        font-weight: bold;
    }
    
    input[type=text], input[type=date]{
        color: gray;
        font-weight: 800;
    }

    input[type=submit] {
        letter-spacing: 0.1em;
    }

    .blue    { background-color: #50A6C2; }
  

    .float-right {
        display: flex;
        justify-content: flex-end;

        input[type=submit] {
            background-color: #00c853;
            font-weight: 500;  
            width: 250px;
            height: 3em;
            -webkit-transition: width 2s; /* Safari */
            transition: width 2s;
        }
        input[type=submit]:hover{
            background-color:#00e676;
            font-weight: 500;
        }
    }
    /*the white-space property specifies how white-space inside an element is handled*/
    span {
       display: flex;
       width: 100%;
       justify-content: space-between;
    }

}
.profile_header{
        font-size: 1.75em;
        font-weight: 500;
}

