<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UPD CMO</title>
    
    {% load static from staticfiles%}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/private/base_private.css" %}">
    {% comment %} <link type="text/css" rel="stylesheet" href="{% static "materialize/css/materialize.min.css" %}"  media="screen,projection"/> {% endcomment %}
    {% block addedcss %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <nav class="nav-container">
        <div class="nav-top">
            <div class="nav-left">
                <img src="{% static "images/logo.jpg"%}" class="logo" alt="UPD CMO LOGO">
                <a href="/about_us/" class="title">UP Campus Ministry Office</a>
            </div>
            <div class="nav-right">
                <a href="/accounts/logout/">Log-out &nbsp;<i class="fas fa-sign-out-alt"></i>&nbsp;</a>
            </div>
        </div>
        <div class="nav-bottom">
        </div>
    </nav>
    <div class="container">
        <div class="container-left">
            <div class="profile-container">
                <img class="profile" src="/media/{{user_profile.image}}" alt="">
                {% comment %} <span class="profile-username">kldulatre</span> {% endcomment %}
            </div>
            <div class="menus">
                <a class="links" href="/cmvg/announcements/">Announcements</a>
                <a class="links" href="/cmvg/calendar/">Calendar</a>
                <a class="links" href="/cmvg/cloud_storage/">Cloud Storage</a>
                <a class="links" href="/cmvg/members_directory/">Members Directory</a>
                <a class="links" href="/cmvg/profile/">Profile</a>
            </div>
        </div>
        <div class="container-right">
            {% block body %}
            {% endblock %}
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static "materialize/js/materialize.min.js" %}"></script>
</body>
</html>