{% extends "../base.html" %}

{% load static from staticfiles%}

{% block addedcss %}
    <link rel="stylesheet" href="{% static "css/login.css"%}">
{% endblock %}

{% block body %}
<div class="card-container">
    <div class="card">
        <div class="title">
            CM Volunteer Group
            <hr>
        </div>
        {% if form.errors %}
        There is something wrong in the form.
        {% endif %}
        
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <span class="label">Username</span>
            <span>{{ form.username }}</span>
            <span class="label">Password</span>
            <span>{{ form.password }}</span>            
            <input type="submit" value="LOGIN">
        </form>
    </div>
</div>
{% endblock %}