{% extends "base_private.html" %}

{% load static from staticfiles%}

{% block addedcss %}
    <link rel="stylesheet" href="{% static "css/private/update-post.css"%}">
{% endblock %}

{% block body %}
    {% comment %} <p>{{ data.title   }}</p>
    <p>{{ data.body    }}</p>
    <p>{{ data.image   }}</p>
    <p>{{ data.likes   }}</p>
    <p>{{ data.shares  }}</p>
    <p>{{ data.created_by }}</p>
    <p>{{ data.creator_nickname  }}</p>
    <p>{{ data.updated_at }}</p>
    <a href="/cmvg/announcements/edit/{{data.id }}">Edit</a>
    <a href="/cmvg/announcements/delete/{{data.id}}">Delete</a> {% endcomment %}
    <div class="update-post">
        <div class="update-post-right">
            <h1>{{ data.title }}</h1>
            <div class="time">
                {{ data.creator_full_name }} |
                {{ data.updated_at }} 
            </div>
            <div class="functions">
                <a href=""><i class="fas fa-share-alt"></i> Share</a>
                <a href="/cmvg/announcements/edit/{{data.id}}/"><i class="fas fa-edit"></i> Edit</a>
                <a href="/cmvg/announcements/delete/{{data.id}}/"><i class="fas fa-trash"></i> Delete</a>
            </div>
            <img class="post-image" src="http://localhost:8000/media/{{ data.image }}" alt="">
            <p class="body">{{ data.body }}</p>
            <p class="body">
                <span class="notes">Note to Members:</span><br> {{ data.notes   }}
            </p>
    </div>
</div>
{% endblock %}