{% extends "base_private.html" %}

{% load static from staticfiles%}

{% block addedcss %}
    <link rel="stylesheet" href="{% static "css/private/cloud_storage.css"%}">
{% endblock %}

{% block body %}
    <div class="cloud_storage">
        <div class="create-new-link">
            <a class="create-link" href="/cmvg/cloud_storage/create"><i class="fas fa-edit"></i> Create a Link</a>
        </div>
        {% for datum in data %}    
        <div class="card">
            <div class="card-left">
                <a href="{{ datum.url }}" target="_blank" class="link">OPEN</a>
            </div>
            <div class="card-right">
                <span class="title">{{ datum.title }}</span>
                <div class="by-when">by <span>{{ datum.creator_full_name }}</span> @ <span>{{ datum.updated_at }}</span></div>
                <span class="description">{{ datum.description }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}