%shadow {
    border-width: 0;
    border-style: solid;
    border-color: black;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.contact_us {
    display: flex;
    margin-top: 2.5em;
}

.card{
    padding: 30px;
    margin-left: 10px;
    border-radius: 2px;
    @extend %shadow;
}

.google-maps {
    width: 95%;
    height: 450px;
}

.left {
    display:flex;
    width: 60%;
    flex-direction: column;

    .right-children {
        display: flex;
        flex-direction: column;
        margin-top: 3em;
    }

    .title {
        font-size: 2em;
        font-weight: 500;
    }

    .title-2{
        font-size: 1.75em;
        font-weight: 500;
    }

    .fab {
        font-size: 3.5em;
        color: black;
        margin-right:10px;
    }

    .fab:hover{
        color: #00c853;
    }
}

.right {
    display:flex;
    width:40%;
    flex-direction: column;
    
    .title-2{
        font-size: 1.75em;
        font-weight: 400;
    }

    form {
        display:flex;
        flex-direction: column;

        .label{
            font-size: 1.25em;
            font-weight: 300;
        }

        input,input[type=submit],button{
            margin-bottom: 1em;
            font-size: 1.25em;
            padding-right: .25em;
            padding-left: .25em;
            padding-top: .5em;
            padding-bottom: .5em;
            border-radius: 2px;
            border-style: solid;
            border-width: 1px;
            border-color: #bdbdbd;
            outline:none;
        }

        input[type=submit],button{
            background-color:#00c853;
            font-weight: 500;
            -webkit-transition: width 2s; /* Safari */
            transition: width 2s;
        }

        /*when hovered over this input, it will apply the properties within 2seconds ^ see transition*/
        input[type=submit]:hover,button{
            background-color:#00e676;
            font-weight: 500;
            // -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
            // box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
        }

        textarea {
            resize: vertical;
            outline:none;
            margin-bottom: 1em;
            font-size: 1.25em;
            padding-left: .25em;
            padding-top: .5em;
            padding-bottom: .5em;
            border-radius: 2px;
            border-style: solid;
            border-width: 1px;
            border-color: #bdbdbd;
        }
    }
}

h1 {
    margin-bottom: 10px;
    font-size: 3em;
    font-weight: 300;
}

hr {
    color : white;
}