{% extends "base.html" %}

{% load static from staticfiles%}

{% block addedcss %}
    <link rel="stylesheet" href="{% static "css/volunteers.css"%}">
{% endblock %}
{% block body %}
<h1>Campus Ministry Volunteer Members</h1>
<hr>
<div class="volunteers">
    <div class="right">
        <a href="">Everyone</a>
        <a href="">Liturgies</a>
        <a href="">Human Resources</a>
        <a href="">Networks and Relations</a>
        <a href="">Creatives</a>
        <a href="">Ways and Means</a>
    </div>
    <div class="left">
        {% for item in volunteers %}
            <a href="{{item.fb_account}}" class="card">
                <img class="img" src="http://localhost:8000/media/{{ item.image }}" alt="">
                <div class="info">
                    <span class="name">
                        {{ item.first_name }} {{ item.middle_name }} {{ item.last_name }}
                    </span>
                    <span class="details">
                        - {{ item.program }}
                    </span>
                    <span class="details">
                        - {{ item.permanent_address }}
                    </span>
                    <span class="details">
                        - {{ item.committee }}
                    </span>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}